<div class="about span-6 last">
  <div class="avatar">
    <img src="http://www.gravatar.com/avatar/233a610e3a4c2663edf98519ea88c7be.png">
  </div>
</div>
<div class="info prepend-top span-6 last">
  <dl>
    <dt>email</dt>
    <dd>
      <a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#x6f;&#x3a;&#106;&#111;&#x73;&#x6c;&#121;&#110;&#x2e;&#101;&#x73;&#x73;&#101;&#114;&#x40;&#103;&#x6d;&#97;&#105;&#108;&#x2e;&#99;&#111;&#109;">&#x6a;&#x6f;&#115;&#x6c;&#x79;&#x6e;&#46;&#x65;&#x73;&#115;&#x65;&#114;&#x40;&#103;&#109;&#x61;&#105;&#x6c;&#x2e;&#99;&#111;&#x6d;</a>
    </dd>
    <dt>resume</dt>
    <dd>
      <a href="/assets/downloads/joslyn_esser_resume.pdf">pdf</a>
    </dd>
    <dt>connect</dt>
    <dd>
      <a href="http://twitter.com/joslynesser">twitter</a>
      <a href="http://www.facebook.com/joslynesser">facebook</a>
      <a href="http://linkedin.com/in/joslynesser">linkedin</a>
      <a href="http://github.com/joslynesser">github</a>
    </dd>
  </dl>
</div>